In [2]:
import pandas as pd
import requests
import os
import glob
import json
import numpy

## Data Gathering

Download the WeRateDogs *[Twitter archive](https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv)* by clicking on the download link.

Use the `pd.read_csv` method to load the data into a Pandas Dataframe

In [3]:
archives_df = pd.read_csv('twitter-archive-enhanced.csv')

Use the Requests library to download the tweet image prediction file (image_predictions.tsv)

In [4]:
#Make a new folder to hold downloaded image-predictions tsv file

folder = 'Predictions'
if not os.path.exists(folder):
    os.makedirs(folder)

In [6]:
#Download file using the requests library 

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

In [7]:
#write the contents of the response into a file in the Predictions folder

with open(os.path.join(folder, url.split('/')[-1]), mode='wb') as file:
    file.write(response.content)


Confirm the contents of the `Predictions` folder:

In [8]:
os.listdir('Predictions')

['image-predictions.tsv']

Now that we have confirmed that the image-predictions file has been successfully created, we can proceed with reading its contents and loading them into a dataframe

In [9]:
#Read Data from the Image Predictions file into a dataframe

predictions_df = pd.read_csv('Predictions\image-predictions.tsv', sep='\t')

 

We are going to download additional data to supplement our datasets from this **[link](https://video.udacity-data.com/topher/2018/November/5be5fb7d_tweet-json/tweet-json.txt)**. I opted for a direct download because my request for elavated access to twitter's API was rejected.

Once you've downloaded the tweet-json text file move it into your working directory.

In [10]:
#Create an empty list that will be used to hold the dictionary objects from the Json file

json_list = []

Read JSON Data from the `tweet-json.txt` Text File

In [11]:
'''
 > Use glob module to loop through and find text files in your working directory
 > Employ a for loop together with .readline() to read lines in the text file
 > Parse the String returned by the readline method into a Python dictionary with the json.loads method
 > Create a python dictionary that will be loaded into the empty Json_list list
 > Confirm if dictionary is present in list, if not append to list, else skip. This will ensure we dont append duplicates
'''

for tweet_file in glob.glob('*.txt'):
    with open(tweet_file, encoding='utf-8') as file:
        for line in file:
            txt_obj = file.readline()
            tweet_obj = json.loads(txt_obj)
            tweet_dict = {'tweet_id' : tweet_obj['id'], 'created_at' : tweet_obj['created_at'], 
                          'retweet_count' : tweet_obj['retweet_count'],'favorite_count' : tweet_obj['favorite_count'],
                          'followers_count' : tweet_obj['user']['followers_count']}
            if tweet_dict not in json_list:
                json_list.append(tweet_dict)

Let's check whether the objects loaded into our json_list were of the Python *`dict`* datatype

In [12]:
#Type of the zero-indexed object in the json_list list

assert(type(json_list[0]) == dict)

Optionally, we can use the *`isinstance`* function that checks and returns *`True`* if the specified object is a subclass or an instance of the indicated type

In [13]:
#Type of last-indexed object in the json_list

isinstance(json_list[-1], dict)

True

We'll use the *`from_dict`* method to construct a dataframe from our dictionaries in the json_list list.

In [14]:

additional_tweets_df = pd.DataFrame.from_dict(json_list)

Check if the tweet_ids in the newly created additional_tweets_df are in the archives dataframe.

In [15]:
#counts the number of items in the additional_tweets_df, tweet_id column and checks if item is present in archive

items = 0
for item in set(list(additional_tweets_df.tweet_id)):
    if item in list(archives_df.tweet_id):
        items += 1

In [16]:
'''
    compare the count against the length of the additional tweets dataframe
    if count is equal to length of additional df, then all tweets in new df were in the archived df 
'''

items == len(list(additional_tweets_df.tweet_id))

True

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

Data quality issues: Data that has quality issues have issues with content like missing, duplicate, or incorrect data. This is called dirty data.
Lack of tidiness: Data that has specific structural issues that slow you down when cleaning and analyzing, visualizing, or modeling your data later.

### Quality issues
1. archives_df - duplicate tweets inform of retweets

2. archives_df - tweet_id is an integer instead of a string object

3. archives_df - *timestamp* is a string object 

4. 

5. archives_df - missing *names* represented as None 

6. archives_df - *names* extracted incorrectly in some cases i.e 'a', 'the', 'an'

6. archives_df - *in_reply_to_user_id*, *in_reply_to_status_id*, *retweeted_status_timestamp*, *retweeted_status_id* and *retweeted_status_user_id* columns have null values  

7. archive_df - *rating_denominator* is more than 10 in some cases 

8. archive_df -

### Tidiness Issues

1. The *doggo*, *floofer*, *pupper* and *puppo* identifiers should unpivoted into a single column

2. The *created_at* column in the additional_tweets_df should be dropped, it is already present in the archives_df as *timestamp*.

let's make a visual inspection of our first dataframe

In [32]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_row', None)

In [34]:
archives_df.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
669,790227638568808452,NaN,NaN,2016-10-23 16:25:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Leela. She's a Fetty Woof. Lost eye while saving a baby from an avalanche. 11/10 true h*ckin hero https://t.co/2lBg3…,7.626999e+17,4.196984e+09,2016-08-08 17:19:51 +0000,https://twitter.com/dog_rates/status/762699858130116608/photo/1,11,10,Leela,None,None,None,None
1889,674774481756377088,NaN,NaN,2015-12-10 02:15:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Superpup. His head isn't proportional to his body. Has yet to serve any justice. 11/10 maybe one day pupper https://t.co/gxIFgg8ktm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674774481756377088/photo/1,11,10,Superpup,None,None,pupper,None
1516,690959652130045952,NaN,NaN,2016-01-23 18:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This golden is happy to refute the soft mouth egg test. Not a fan of sweeping generalizations. 11/10 #notallpuppers https://t.co/DgXYBDMM3E,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/690959652130045952/photo/1,https://twitter.com/dog_rates/status/690959652130045952/photo/1,https://twitter.com/dog_rates/status/690959652130045952/photo/1,https://twitter.com/dog_rates/status/690959652130045952/photo/1",11,10,None,None,None,None,None
1380,701214700881756160,NaN,NaN,2016-02-21 01:19:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm not sure what's happening here, but it's pretty spectacular. 12/10 for both https://t.co/JKXh0NbBNL",NaN,NaN,NaN,https://twitter.com/dog_rates/status/701214700881756160/photo/1,12,10,None,None,None,None,None
121,869596645499047938,NaN,NaN,2017-05-30 16:49:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Scout. He just graduated. Officially a doggo now. Have fun with taxes and losing sight of your ambitions. 12/10 would throw cap for https://t.co/DsA2hwXAJo,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/869596645499047938/photo/1,https://twitter.com/dog_rates/status/869596645499047938/photo/1",12,10,Scout,doggo,None,None,None

In [53]:
archives_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

Check for duplicates in the *`tweet_id`* column

In [20]:
archives_df['tweet_id'].duplicated().sum()

0

There are **no** duplicates in the archives_df dataframe.

In [21]:
archives_df.duplicated().sum()

0

Let us examine the *name* column

In [38]:
archives_df.name.value_counts()

None              745
a                  55
Charlie            12
Cooper             11
Lucy               11
Oliver             11
Tucker             10
Penny              10
Lola               10
Winston             9
Bo                  9
Sadie               8
the                 8
Daisy               7
Buddy               7
Toby                7
an                  7
Bailey              7
Leo                 6
Oscar               6
Stanley             6
Rusty               6
Bella               6
Dave                6
Jack                6
Koda                6
Scout               6
Jax                 6
Milo                6
Louis               5
Phil                5
Sammy               5
Gus                 5
Chester             5
Alfie               5
Sunny               5
Bentley             5
very                5
Oakley              5
Finn                5
George              5
Larry               5
Clarence            4
Loki                4
Walter              4
Reggie              4
Hank                4
Scooter             4
Duke                4
quite               4
Reginald            4
Maggie              4
Luna                4
Maddie              4
Dexter              4
Jerry               4
Carl                4
Ruby                4
Riley               4
Clark               4
Chip                4
Brody               4
just                4
Sophie              4
Sampson             4
Boomer              4
Winnie              4
Gary                4
Archie              4
Jeffrey             4
Gerald              4
one                 4
Cassie              4
Maximus             4
Moose               4
Bear                4
Bruce               4
Beau                4
Derek               4
Shadow              4
Rory                3
Waffles             3
Earl                3
Nala                3
Louie               3
Colby               3
Otis                3
Doug                3
Rosie               3
Wyatt               3
Lily                3
Coco                3
Kyle                3
Olive               3
Peaches             3
Vincent             3
Reese               3
Jimothy             3
Frankie             3
Ted                 3
Arnie               3
Klevin              3
Max                 3
Zoey                3
Ellie               3
Zeke                3
Wilson              3
Calvin              3
Sebastian           3
Wallace             3
Lorenzo             3
Malcolm             3
Mia                 3
Samson              3
Paisley             3
Steven              3
Gizmo               3
Benji               2
Philbert            2
Django              2
Sansa               2
Tyr                 2
Moe                 2
Misty               2
Herm                2
Cali                2
Kenneth             2
Chelsea             2
Happy               2
Ollie               2
Leela               2
Sam                 2
Hunter              2
Seamus              2
Tyrone              2
Atlas               2
Rocky               2
Oshie               2
Olivia              2
Davey               2
Timison             2
Paull               2
Titan               2
Levi                2
Layla               2
Stubert             2
Rizzy               2
Baloo               2
Betty               2
Herschel            2
Butter              2
Mister              2
Lenny               2
Doc                 2
Juno                2
Anakin              2
Bernie              2
Marley              2
Phineas             2
Nollie              2
Meyer               2
Blitz               2
Raymond             2
Crystal             2
Phred               2
Terry               2
Axel                2
Charles             2
Herald              2
getting             2
Theodore            2
Maxaroni            2
Kilo                2
Brad                2
actually            2
Sugar               2
Percy               2
Opal                2
Shaggy              2
Wally               2
Oliviér             2
mad                 2
Kreggory            2
Remington           2
Bisquick            2
Chuckles            2
Thumas              2
Curtis              2
Calbert             2
Chet                2
Bubbles             2
Coops               2
Ozzy                2
Smokey              2
Flávio              2
CeCe                2
Pippa               2
Panda               2
Bob                 2
Sarge               2
Abby                2
Keurig              2
Baxter              2
Atticus             2
Dakota              2
Gromit              2
Roosevelt           2
Fizz                2
Penelope            2
Finley              2
Solomon             2
Hurley              2
Bell                2
Dash                2
Linda               2
Chipson             2
Harper              2
Kenny               2
Sandy               2
Lincoln             2
Frank               2
Jackson             2
Kirby               2
Lou                 2
Jeph                2
Piper               2
Hammond             2
Fred                2
Carly               2
Keith               2
Rubio               2
Watson              2
Chompsky            2
Rufus               2
Jiminy              2
Griffin             2
Rocco               2
Albert              2
Patrick             2
Kreg                2
Eve                 2
Luca                2
Lennon              2
Cupcake             2
Emmy                2
Ken                 2
Pipsy               2
Nelly               2
Odie                2
Ava                 2
Ash                 2
Terrance            2
not                 2
Romeo               2
Stephan             2
Jesse               2
Elliot              2
Logan               2
Moreton             2
Klein               2
Kyro                2
Fiona               2
Yogi                2
Indie               2
Benedict            2
Lilly               2
Churlie             2
Hobbes              2
Trooper             2
Belle               2
Quinn               2
Neptune             2
Albus               2
Alice               2
Aspen               2
Jamesy              2
Bungalo             2
Harold              2
Astrid              2
Gidget              2
Cody                2
Dawn                2
Sierra              2
Cash                2
Pickles             2
Kevin               2
Eli                 2
Gabe                2
Balto               2
Pablo               2
Franklin            2
Jimison             2
Hercules            2
Canela              2
Mattie              2
Dotsy               1
Marvin              1
Lizzie              1
Kallie              1
Ember               1
Frönq               1
Blakely             1
Jockson             1
Ambrose             1
Jomathan            1
Marq                1
Kramer              1
Maks                1
Derby               1
Pubert              1
Spark               1
Ferg                1
Ricky               1
Carll               1
Ron                 1
Torque              1
Lucky               1
Terrenth            1
Trip                1
Gordon              1
Jareld              1
Bode                1
DayZ                1
Jo                  1
Hamrick             1
Gòrdón              1
Barry               1
Horace              1
Timofy              1
Kulet               1
Perry               1
Bobby               1
Winifred            1
Obi                 1
Kevon               1
Tino                1
Sweets              1
Bruiser             1
Lupe                1
Tiger               1
Lugan               1
Kathmandu           1
Banditt             1
Banjo               1
Katie               1
Oreo                1
Mona                1
Adele               1
Fynn                1
Zara                1
Crimson             1
Birf                1
Josep               1
Zeek                1
Lorelei             1
Gerbald             1
Marty               1
Brooks              1
Petrick             1
Hubertson           1
Hanz                1
Kara                1
Skittles            1
Chesterson          1
Biden               1
Naphaniel           1
Ole                 1
Pherb               1
Blipson             1
Genevieve           1
Reptar              1
Trevith             1
Joshwa              1
Millie              1
Kial                1
Berb                1
Bradlay             1
Colin               1
Brian               1
Yoda                1
Coopson             1
Carter              1
Dook                1
Grady               1
Jessiga             1
Eazy                1
Murphy              1
Kaia                1
Fillup              1
Miley               1
Daniel              1
Philippe            1
Charl               1
Reagan              1
Yukon               1
Crouton             1
Hall                1
Fwed                1
Cuddles             1
Claude              1
Filup               1
Kobe                1
Durg                1
Vinscent            1
Hazel               1
Lolo                1
Eriq                1
Erik                1
Rudy                1
Rambo               1
Cleopatricia        1
Oddie               1
Socks               1
Maxwell             1
Ralphson            1
Keet                1
Geoff               1
Covach              1
Lucia               1
Cedrick             1
Stu                 1
Bilbo               1
Fiji                1
Rilo                1
Freddery            1
Bodie               1
Dunkin              1
Tedrick             1
Tupawc              1
Clybe               1
Amber               1
Edgar               1
Teddy               1
Kingsley            1
Brockly             1
Richie              1
Brandy              1
Molly               1
Bobb                1
Patch               1
Lulu                1
Finnegus            1
Henry               1
Bobbay              1
Mitch               1
Creg                1
Antony              1
Trigger             1
Kaiya               1
Acro                1
Mason               1
Arnold              1
Andy                1
Aiden               1
Sage                1
Obie                1
Amy                 1
Jett                1
Dot                 1
Shnuggles           1
life                1
Chesney             1
Traviss             1
Jonah               1
Damon               1
Herb                1
Willy               1
Mollie              1
Edd                 1
Laela               1
Bloo                1
Pluto               1
Ester               1
Danny               1
Tedders             1
Jeffrie             1
Superpup            1
Rufio               1
Gin                 1
Jeb                 1
Rodman              1
Kendall             1
Holly               1
Jeffri              1
Norman              1
Scott               1
Dylan               1
Taz                 1
Darby               1
Jackie              1
light               1
Jazz                1
Franq               1
Pippin              1
Rolf                1
Batdog              1
Snickers            1
Ridley              1
Cal                 1
Bradley             1
Bubba               1
Mojo                1
Caryl               1
Leonidas            1
Steve               1
space               1
Mac                 1
Fletcher            1
Anthony             1
Kenzie              1
Sparky              1
Tanner              1
Pumpkin             1
Julius              1
Schnozz             1
Gustaf              1
Pip                 1
Scruffers           1
Cheryl              1
Alejandro           1
JD                  1
Ed                  1
Mark                1
Zuzu                1
Buddah              1
Darrel              1
Kirk                1
Cheesy              1
Moofasa             1
Jaspers             1
Hector              1
Goliath             1
Clarq               1
Kawhi               1
Ralf                1
by                  1
Peanut              1
Sully               1
Emmie               1
Tessa               1
Willie              1
Dug                 1
Rinna               1
Mike                1
William             1
Samsom              1
Harrison            1
Griswold            1
Ozzie               1
Amélie              1
Taco                1
Joey                1
Ruffles             1
Lambeau             1
Todo                1
Tess                1
Ulysses             1
Toffee              1
Apollo              1
Tuco                1
Jaycob              1
Glacier             1
Chuck               1
Jeremy              1
Champ               1
Chaz                1
Saydee              1
Dwight              1
Billl               1
Humphrey            1
Tommy               1
Juckson             1
Liam                1
Randall             1
Chuq                1
Tyrus               1
Karl                1
Godzilla            1
Fabio               1
Vinnie              1
Sandra              1
Bert                1
Striker             1
Donny               1
Butters             1
Pepper              1
Nigel               1
Tassy               1
Ben                 1
Evy                 1
Ralph               1
officially          1
Rascal              1
Ronduh              1
Kollin              1
Skye                1
Shawwn              1
Kloey               1
Andru               1
Tug                 1
Tango               1
Julio               1
Grizz               1
Jerome              1
Crumpet             1
Jessifer            1
Raphael             1
Izzy                1
Asher               1
Huxley              1
Clarkus             1
Autumn              1
Sundance            1
Flash               1
Howie               1
Jazzy               1
Anna                1
Wafer               1
Tom                 1
Florence            1
Dido                1
Duchess             1
Eugene              1
Strudel             1
Tebow               1
Chloe               1
Timber              1
Binky               1
Dudley              1
Comet               1
Harlso              1
Crawford            1
Smiley              1
Sailer              1
Emanuel             1
Kuyu                1
Dutch               1
Pete                1
Mutt                1
Doobert             1
Beebop              1
Alexander           1
Brutus              1
Sweet               1
Kona                1
Boots               1
Ralphie             1
Cupid               1
Pawnd               1
Pilot               1
Ike                 1
Mo                  1
Akumi               1
Alf                 1
Chubbs              1
Dobby               1
Sobe                1
Longfellow          1
Iroh                1
Pancake             1
Snicku              1
Mack                1
Nimbus              1
Laika               1
Maude               1
Sky                 1
Newt                1
Nida                1
Robin               1
Monster             1
BeBe                1
Remus               1
Mabel               1
Mosby               1
Chef                1
Mauve               1
Bones               1
Ronnie              1
Eleanor             1
Baron               1
Bauer               1
Swagger             1
Brandi              1
Mary                1
Halo                1
Augie               1
Craig               1
Pavlov              1
Ito                 1
incredibly          1
Major               1
Shooter             1
Diogi               1
Sonny               1
Severus             1
Miguel              1
Eevee               1
Brownie             1
Napolean            1
Goose               1
Nugget              1
Jed                 1
Monkey              1
Harry               1
Kody                1
Lassie              1
Rover               1
Rumble              1
Ginger              1
Clifford            1
Dewey               1
Shikha              1
Lili                1
Meatball            1
Zooey               1
Jersey              1
Burt                1
Venti               1
Dante               1
Orion               1
Roscoe              1
Darla               1
Bruno               1
Stuart              1
Jim                 1
Ralphus             1
such                1
Maya                1
Mingus              1
Jimbo               1
Aja                 1
Maisey              1
Noah                1
Grizzwald           1
Alfy                1
Koko                1
Rey                 1
Duddles             1
Snoopy              1
Jordy               1
Milky               1
Thor                1
Mookie              1
Jarvis              1
Mimosa              1
Brady               1
Margo               1
Tycho               1
Monty               1
Sojourner           1
Arlo                1
Meera               1
Callie              1
Tobi                1
Sunshine            1
Lipton              1
Gabby               1
Bronte              1
Poppy               1
Rhino               1
Willow              1
Vixen               1
Barney              1
Tuck                1
Furzey              1
Cermet              1
Marlee              1
Arya                1
Einstein            1
Rumpole             1
Benny               1
Jarod               1
Wiggles             1
General             1
Sailor              1
Iggy                1
Snoop               1
Noosh               1
Odin                1
Georgie             1
Rontu               1
Cannon              1
Ralphy              1
Stella              1
Jiminus             1
Lillie              1
Coleman             1
Enchilada           1
all                 1
Rueben              1
Cilantro            1
Karll               1
Sprout              1
Bloop               1
Ashleigh            1
Puff                1
Luther              1
Ivar                1
Jangle              1
Schnitzel           1
Berkeley            1
Ralphé              1
Charleson           1
Clyde               1
Flurpson            1
Pupcasso            1
Kayla               1
Kellogg             1
Aqua                1
Chase               1
Rorie               1
Simba               1
Bayley              1
Storkson            1
Remy                1
Chadrick            1
Buckley             1
Stefan              1
Livvie              1
Hermione            1
Ralpher             1
Aldrick             1
this                1
unacceptable        1
Rooney              1
Ziva                1
Harnold             1
Sid                 1
Carper              1
Vince               1
Sora                1
Beemo               1
Gunner              1
infuriating         1
Lacy                1
Tater               1
Olaf                1
Cecil               1
Karma               1
Bowie               1
Billy               1
Walker              1
Rodney              1
Malikai             1
Bobble              1
River               1
Jebberson           1
Farfle              1
Staniel             1
Kane                1
Opie                1
Lance               1
Alexanderson        1
Suki                1
Barclay             1
Skittle             1
Ebby                1
Link                1
Jennifur            1
Bluebert            1
Stephanus           1
old                 1
Zeus                1
Bertson             1
Nico                1
Michelangelope      1
Siba                1
Travis              1
Kanu                1
Edmund              1
Beya                1
Tonks               1
Rupert              1
Grey                1
Willem              1
Dixie               1
Al                  1
Carbon              1
DonDon              1
Chevy               1
Tito                1
Brudge              1
Heinrich            1
Shadoe              1
Angel               1
Brat                1
Tove                1
my                  1
Aubie               1
Kota                1
Glenn               1
Shakespeare         1
Sprinkles           1
Stark               1
Godi                1
Dale                1
Rizzo               1
Pinot               1
Dallas              1
Hero                1
Stormy              1
Mairi               1
Loomis              1
Deacon              1
Blue                1
Timmy               1
Combo               1
Jay                 1
Mya                 1

In [57]:
archives_df[archives_df.name == 'a'].sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758794694657/photo/1,10,10,a,None,None,None,None
1017,746872823977771008,NaN,NaN,2016-06-26 01:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/746872823977771008/photo/1,https://twitter.com/dog_rates/status/746872823977771008/photo/1",11,10,a,None,None,None,None
2125,670361874861563904,NaN,NaN,2015-11-27 22:01:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670361874861563904/photo/1,9,10,a,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
649,792913359805018113,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1",13,10,a,None,None,None,None

In [59]:
archives_df[archives_df.name == 'an'].sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
759,778396591732486144,NaN,NaN,2016-09-21 00:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is an East African Chalupa Seal. We only rate dogs. Please only send in dogs. Thank you... 10/10 https://t.co/iHe6liLwWR,7.030419e+17,4.196984e+09,2016-02-26 02:20:37 +0000,"https://twitter.com/dog_rates/status/703041949650034688/photo/1,https://twitter.com/dog_rates/status/703041949650034688/photo/1",10,10,an,None,None,None,None
1025,746369468511756288,NaN,NaN,2016-06-24 15:48:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Iraqi Speed Kangaroo. It is not a dog. Please only send in dogs. I'm very angry with all of you ...9/10 https://t.co/5qpBTTpgUt,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746369468511756288/photo/1,9,10,an,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an extremely rare horned Parthenon. Not amused. Wears shoes. Overall very nice. 9/10 would pet aggressively https://t.co/QpRjllzWAL,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882303524864/photo/1,9,10,an,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an odd dog. Hard on the outside but loving on the inside. Petting still fun. Doesn't play catch well. 2/10 https://t.co/v5A4vzSDdc,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853826850816/photo/1,2,10,an,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None

Let's count the number of null value in the *in_reply_to_status_id* column

In [45]:
sum(archives_df.in_reply_to_status_id.isnull())

2278

Number of null values in the in_reply_to_user_id

In [46]:
sum(archives_df.in_reply_to_user_id.isnull())

2278

Number of null values in the *retweeted_status_id*

In [47]:
sum(archives_df.retweeted_status_id.isnull())

2175

Number of null values in the *retweeted_status_user_id*

In [48]:
sum(archives_df.retweeted_status_user_id.isnull())

2175

No. of unique values in the *rating_denominator* column with their respective counts

In [61]:
archives_df.rating_denominator.value_counts()

10     2333
11        3
50        3
20        2
80        2
70        1
7         1
15        1
150       1
170       1
0         1
90        1
40        1
130       1
110       1
16        1
120       1
2         1
Name: rating_denominator, dtype: int64

In [51]:
predictions_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
355,672594978741354496,https://pbs.twimg.com/media/CVWJkJXWsAInlZl.jpg,1,Great_Pyrenees,0.755945,True,Old_English_sheepdog,0.082337,True,Afghan_hound,0.027037,True
170,668992363537309700,https://pbs.twimg.com/media/CUi9ARGWUAEyWqo.jpg,1,lynx,0.287506,False,tabby,0.206048,False,koala,0.081419,False
608,680070545539371008,https://pbs.twimg.com/media/CW-dU34WQAANBGy.jpg,1,earthstar,0.127701,False,Shih-Tzu,0.121811,True,bubble,0.117820,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,0.012591,False,paper_towel,0.011178,False
696,684481074559381504,https://pbs.twimg.com/media/CX_D6AJWwAAnBIw.jpg,1,Chihuahua,0.937810,True,Pomeranian,0.020307,True,polecat,0.017357,False

In [52]:
predictions_df.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [28]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [29]:
predictions_df.tweet_id.duplicated().sum()

0

There are no duplicates in the predictions dataFrame

In [63]:
additional_tweets_df.sample(10)

,tweet_id,created_at,retweet_count,favorite_count,followers_count
708,698342080612007937,Sat Feb 13 03:05:01 +0000 2016,1074,2485,3200950
636,709179584944730112,Mon Mar 14 00:49:23 +0000 2016,763,2213,3200947
457,756939218950160384,Sat Jul 23 19:49:07 +0000 2016,2295,7342,3200943
564,728986383096946689,Sat May 07 16:34:32 +0000 2016,917,3460,3200944
655,706904523814649856,Mon Mar 07 18:09:06 +0000 2016,8830,15961,3200947
547,736225175608430592,Fri May 27 15:58:54 +0000 2016,3115,8901,3200943
401,772117678702071809,Sat Sep 03 17:02:54 +0000 2016,848,4165,3200905
1171,666063827256086533,Mon Nov 16 01:22:45 +0000 2015,232,496,3201018
69,865006731092295680,Thu May 18 00:50:50 +0000 2017,8209,29063,3200891
975,673662677122719744,Mon Dec 07 00:37:52 +0000 2015,397,1339,3201004

In [64]:
additional_tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         1177 non-null   int64
 1   created_at       1177 non-null   object
 2   retweet_count    1177 non-null   int64
 3   favorite_count   1177 non-null   int64
 4   followers_count  1177 non-null   int64
dtypes: int64(4), object(1)
memory usage: 46.1+ KB

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

# Make copies of original pieces of data

In [67]:
archives_clean = archives_df.copy()

### Issue #1: archives_df - duplicate tweets inform of retweets

#### Define:
* Delete retweets that can be identified with rows that have a value in *retweeted_status_id* column

#### Code

## Test

### Issue #2:

#### Define

#### Code

#### Test:

## Storing Data

Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least three (3) insights and one (1) visualization.

### Insights:
1.

2.

3.

### Visualization

In [ ]:
## References